
<div *ngIf="messageComment">
    <h2><span jhiTranslate="backendApp.messageComment.detail.title">Message Comment</span> {{messageComment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backendApp.messageComment.messageComment">Message Comment</span></dt>
        <dd>
            <span>{{messageComment.messageComment}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.messageComment.messageId">Message Id</span></dt>
        <dd>
            <span>{{messageComment.messageId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'message-comment/'+ messageComment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
